.body {
    font-family: 'Roboto', sans-serif ;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.header-logo {
        color: #000;
        font-family: Raleway;
        font-size: 26px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.78px;
}

.header-link {
        color: #212121;
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.28px;
}

.header-mail,
.header-tel {
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

 